<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <a href='/api/recipe/{{recipe_id}}'>
            <div class="col-md-4">
                <img src="{{image}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                </div>
            </div>
        </a>
          <a href="/api/recipe/delete/{{recipe_id}}" class="btn btn-secondary btn-block" data-id="{{ recipe_id }}" id="delete-button" type="submit">Delete</a>        
    </div> 
</div>
