<div id='fullrecipecon' class='container row'>
          <div class='container-fluid'>
            <button class="btn btn-like">
                <span class="btn-icon btn--icon-default">
                    <span class="fa fa-heart"></span>
                </span>
                <span class="btn-icon btn--icon-liked">
                    <span class="fa fa-heart"></span>
                </span>
                <span class="btn-content  btn-content--liked">
                    Saved
                </span>
                <span class="btn-content btn-content--default">
                    Save
                </span>
            </button>
            <h2 id="recipeTitle">{{fullRecipe.title}}</h2>
          </div>
            <div class='col-4 .col-lg-4 .col-xl-4'>
                <ul id="ingredient" >
                    {{#each fullRecipe.ingredients as |ingredient|}}
                  {{> ingredient}}
                {{/each}}
                </ul>
                <p>{{fullRecipe.ingredients.original}}</p>
            </div>
            <div class='col-8 .col-lg-8 .col-xl-8 vertical'>
                <img id='fullrecipeimg' src='{{fullRecipe.image}}'>
                <h5>Instructions:</h5>
                <ol>
                {{#each fullRecipe.instructions as |step|}}
                  <li class="steps">{{step}}</li>
                {{/each}}
                </ol>
            </div>  /api/ruser/{{id}},{{image}},{{title}}
</div>